<div style="height:475px;overflow: scroll;">
<mat-card style="padding: 25px;margin: 25px;">
  <h2>去广告</h2>
  <!--<div class="menu-width menu-height" style="padding: 8px 0px">-->
    <!--<tr class="menu-button menu-width menu-item">-->
      <!--<span class="menu-name">隐藏粉丝牌</span>-->
      <!--<mat-slide-toggle color="warn" class="menu-slider"-->
                        <!--(toggleChange)="onHideFansCardClick()" (dragChange)="onHideFansCardClick()"-->
                        <!--[checked]="isHideFansCard"></mat-slide-toggle>-->
    <!--</tr>-->
  <!--</div>-->
  <mat-selection-list>
    <mat-list-option (click)="onHideFansCardClick()" [selected]="isHideFansCard">
      隐藏粉丝牌
    </mat-list-option>
  </mat-selection-list>
</mat-card>

<mat-card style="padding: 25px;margin: 25px;">
  <h2>test</h2>
  <mat-selection-list>
    <mat-list-option>
      dddd
    </mat-list-option>
  </mat-selection-list>
</mat-card>
</div>
