.toolbar-seprator {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 56px;
}

#container {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#footer {
  position: relative;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #d9d9e6;
}
