<div *ngIf="!isShowProgress" class="menu-width menu-height" style="padding: 8px 0px">
  <tr class="menu-button menu-width menu-item">
    <mat-icon class="menu-icon">tv_off</mat-icon>
    <span class="menu-name">去除广告</span>
    <mat-slide-toggle color="warn" class="menu-slider"
                      (toggleChange)="clearAdsHandler()" (dragChange)="clearAdsHandler()"
                      [checked]="isBlockAds"></mat-slide-toggle>
  </tr>

  <tr class="menu-button menu-width menu-item">
    <mat-icon class="menu-icon">settings</mat-icon>
    <span class="menu-name">自定义弹幕</span>
    <button mat-icon-button class="menu-button-icon" (click)="customBarrageHandler($event)">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </tr>
</div>

