.menu-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

.menu-width {
  width: 220px;
}

.menu-height {
  height: 140px;
}

.menu-icon {
  margin-right: 16px;
  vertical-align: middle;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
