<mat-form-field style="width: 40%;font-size: 16px;">
  <mat-chip-list #chipList aria-label="userName selection">
    <mat-chip *ngFor="let userName of userNames" [selectable]="true"
              [removable]="true" (removed)="remove(userName)">
      {{userName}}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
    <input placeholder="UserName"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>

<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
